body{
    display: block;
    padding: 0px;
    margin: 0px;
}

img.logo {
    height: 200%;
    width: 200%;
    position: relative;
    padding-top: 20px;
    padding-right: 20px;
}

header{
    display: block;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid grey;
    background-color: white;
}
.nav-brand{
    display:block;
}
.nav-brand img{
    display: block;
    padding-left: 40px;
    margin: 0px;
    width: 71px;
    float: left;
}
.nav-menu{
    display: block;
}
.nav-menu ul{
    display: block;
    list-style-type: none;
    padding:0px;
    margin:0px;
}
.nav-menu ul li{
    display: block;
    float: left;
}
.nav-menu ul li a{
    display: block;
    padding: 25px;
    margin: 0px;
    color: grey;
    text-decoration:none;
    transition: 0.3s ease-in-out;
    font-family: Arial, helvetica, sans-serif;
}
.nav-menu ul li a:hover{
    background-color: #F5F5F5;
    color: silver;
}
.clearfloat{
    display: block;
    clear: both;
}
.login{
    display: block;
}
.login ul{
    display: block;
    list-style-type: none;
    padding:0px;
    margin:0px;
}
.login ul li{
    display: block;
    float: right;
}
.login ul li a{
    display: block;
    padding: 25px;
    margin: 0px;
    color: black;
    text-decoration:none;
    transition: 0.3s ease-in-out;
    font-family: Arial, helvetica, sans-serif;
}
.login ul li a:hover{
    background-color: #8D6E63;
    color: white;
    
}
.form{
    display: block;
    float: left;
    padding: 23px;
    margin: 0px;
}

.nav-menu ul li ul{
    display: none;
    position: absolute;
    z-index: 1;
    margin: 0px;
}
.nav-menu ul li ul li{
    display: block;
    float: none;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 0px;
    right: 0px;
}
.nav-menu ul li ul li a{

    display: block;
    width: 80%;
    background-color: grey;
    color: white;
}
.nav-menu ul li:hover ul{
    display: block;
}
.nav-menu ul li ul li a:hover{
    background-color: grey;
}
.nav-menu ul li ul li a{

    display: block;
    width: 56%;
    background-color: #F5F5F5;
    color: grey;
    box-shadow: 0px 5px 5px 0px lightgrey;
   
}
.nav-menu ul li:hover ul{
    display: block;
}
.nav-menu ul li ul li a:hover {
    background-color: rgba(0,0,0,0.1);
}

.form input[type=text]{
    width: 200px;
    border: 1px solid #EF6C00;
    border-radius: 30px;
    height: 20px;
    font-family: Arial;
    padding-left: 20px;

}

input[type=submit]{
            background-color: #EF6C00;
            border: 1px solid #EF6C00;
            border-radius: 10px;
            color:  white;
            font-family: Arial;
            width: 65px;
            text-align: center;
            height: 25px;
        }

input[type=submit]:hover {
    background-color: #E91E63;
    border: 1px solid #E91E63;
    color: white;
}


.footer1back {
    display: block;
    background: #3E2723;
    color: white;
    font-family: Arial;
}

footer div.footer1{
    width: 80%;
    margin: 20px auto 0;
    padding: 20px;
    }
footer div.footer1 div.footer{
    width: 24.5%;
    text-decoration: none;
    display: inline-block;
    color: white;
}
footer div.footer1 div.footer ul {
    text-decoration: none;
    list-style-type: none;
}
footer div.footer1 div.footer ul li{
}
footer div.footer1 div.footer ul li a{
    text-align: left;
}

.lapor {
    position: relative;
    margin: 10px 0px 10px 40px;
}


.footerleft {
    float: left;
    }

.footerright {
    float: right;
    }

footer div.footer2{
    display: block;
    background: #FAFAFA;
    color: #212121;
    width: 100%;
    margin: 0px auto 0;
    padding: 0px 0px 10px 0px;
}
img.image {
    height: 110%;
    width: 100%;
    position: relative;
    padding-bottom: 77px;
    padding-left: 0px;
}
footer div.footer2 div.footer{
    width: 30%;
    padding: 2px 2px 2px 150px;
    text-decoration: none;
    display: inline-block;
}


.lapor {
    position: relative;
    margin: 10px 0px 10px 40px;
}


.footerleft {
    float: left;
    }

.footerright {
    float: right;
    }
img.imag {
    height: 14%;
    width: 14%;
    position: relative;
    padding-bottom: 0px;
    padding-right: 20px;
}

img.bayar {
    height: 58px;
    width: 170px;
    position: relative;
    padding-bottom: 0px;
    padding-right: 20px;
}

.footer3back {
    display: block;
    font-family: Arial;
   background-color: #EFEBE9;
}

footer div.footer3{

    width: 95%;
    margin: 0px auto 5px auto;
    padding: 10px;
 
}
footer div.footer3 div.footer{
    width: 80%;
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px 0px 150px;
    text-align: justify;
    font-size: 12px;
}


.linkbutton {
    color: white;
}

         a {
            text-decoration: none;
         }

         p.copyright {
            font-size: 15px;
            text-align: center;
            font-family: arial;
            float: right;
            color: grey;
         }

.fontfooter {
    color: black;
}